extends ../../../views/game

block head
	title Tic Tac Cube

block scripts
	script(src="/build/js/" + game.namespace + "/views/js/key.js")
	script(src="/build/js/" + game.namespace + "/views/js/mouse.js")
	script(src="/build/js/" + game.namespace + "/views/js/block.js")
	script(src="/build/js/" + game.namespace + "/views/js/cube.js")
	script(src="/build/js/" + game.namespace + "/views/js/init.js")
